
QWidget#QuwiAPIViewer 
{
    background-color: %1;
}

/*login*/ 
QWidget#centralwidget
{
    background-color: %1;
}

QGroupBox#page_login_groupBox
{
    background-color: %2;
}

QPushButton#page_login_button_login
{
    border:none; 
    background-color: %5;
    border-radius: 5px; 
    min-width:100px; 
    min-height:35px; 
    color: %4; 
    font: bold 14px;
    margin-top:0px; 
}
    
QLabel#page_login_label_login
{
    font-size: 18px;
    font-style:bold;
}
        
QLineEdit#page_login_lineedit_email,QLineEdit#page_login_lineedit_password 
{
    border: 2px solid gray; 
    min-height: 30px; 
    padding: 0 8px; 
    background-color: %4; 
    background: %4; 
    color: %3; 
    font: 16px;
}

/* toolbar */
QWidget#toolbar
{
    min-height: 60px; 
    background-color: %2;
    border: 2px solid %3; 
}

QPushButton#toolbar_logout,QPushButton#toolbar_projects 
{
	min-width:80px;
	min-height:30px;
	color: %3;
	font: 16px;
	border:none;
}



/* page projects */ 

QListView#page_projects_list  
{
    background-color: %1;
    border: none; 
}

QListView::item:hover 
{
	background:  %1;
	border: %3; 
}

QWidget#ProjectItem_2  
{
    background-color: %4;
}

QWidget#page_projects * 
{
    border:none;
}

QLabel#month_value,QLabel#total_value,QLabel#week_value 
{
	font-size: 16px;
	font-style:bold;
}

QLabel#ProjectItem_name 
{
	font-size: 18px;
	font-style:bold;
}

QLabel#ProjectItem_state 
{
	color: green; 
	font-size: 18px;
	font-style:bold;
}

QLabel#label_month, QLabel#label_week, QLabel#label_total 
{
    font-size: 12px;
    font-style: bold;
}
    
QWidget#ProjectItem,QWidget#ProjectItem:hover 
{
    background-color: %1; 
    border:2px solid #47AAE4; 
} 



/* edit project */ 

QGroupBox#ProjectEditWindow_groupBox
{
    background-color: %4; 
}

QListView#ProjectEditWindow_users  
{
    background-color: %4;
    border: none; 
}

QWidget#page_edit *  
{
    border: none; 
}

QListView#ProjectEditWindow_users::item:hover 
{
	background:  %1;
	border: %3; 
}

QPushButton#ProjectEditWindow_apply 
{
    border:none; 
    background-color: %5;
    border-radius:5px; 
    min-width: 60px; 
    min-height: 30px; 
    color: %4; 
    font: bold 14px;
    margin-top: 0px; 
}

QLineEdit#ProjectEditWindow_edit 
{
    border: 1px solid gray; 
    min-height: 30px; 
    padding: 0 8px; 
    background-color: %4; 
    background: %4; 
    color: %3; 
    font: 16px;
}

QWidget#ProjectEditWindow * 
{
	font: normal 14px;
}
    